@import url(//db.onlinewebfonts.com/c/96996b95c19ecf8733387b6c0b2311e3?family=Rossetti);

@font-face {
    font-family: "Rossetti";
    src: url("//db.onlinewebfonts.com/t/96996b95c19ecf8733387b6c0b2311e3.eot");
    src: url("//db.onlinewebfonts.com/t/96996b95c19ecf8733387b6c0b2311e3.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/96996b95c19ecf8733387b6c0b2311e3.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/96996b95c19ecf8733387b6c0b2311e3.woff") format("woff"), url("//db.onlinewebfonts.com/t/96996b95c19ecf8733387b6c0b2311e3.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/96996b95c19ecf8733387b6c0b2311e3.svg#Rossetti") format("svg");
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #404040;
    background-color: #2D2D2D;
}

a {
    color: #404040;
}

a:hover {
    color: #8e751d;
}

#rossetti {
    font-family: Rossetti;
}

#title {
    font-family: rossetti;
    font-size: 30pt;
    text-align: center;
}

#normal {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html {
    scroll-behavior: smooth;
}

/* ---------------------- Top ---------------------- */

#top-bar {
    text-align: center;
    color: #363636;
    width: 100%;
    position: fixed;
    background-color: #EBC748;
    padding: 10px;
    z-index: 4;
}

#banner {
    position: relative;
    margin-top: -178.8px;
    height: 169px;
    z-index: -1;
}

#header {
    display: flex;
    flex-direction: row;
    text-align: center;
}

#logo {
    height: 140px;
    margin: 20px;
}

#open-daily {
    position: absolute;
    margin: 57.7px 0px 0px -420px;

    border-bottom: 2.5px solid #EAEAEA;
    padding-bottom: 7.1px;
    padding-left: 188px;

    color: #EAEAEA;
    font-size: 34.5pt;
    font-family: rossetti;
}

#since-1966 {
    position: absolute;
    margin: 57.7px 0px 0px 238px;

    border-bottom: 2.5px solid #EAEAEA;
    padding-bottom: 7.1px;
    padding-right: 188px;

    color: #EAEAEA;
    font-size: 34.5pt;
    font-family: rossetti;
}

/* ---------------------- Mini Top ---------------------- */

#mini-banner {
    position: relative;
    margin-top: -127.7px;
    height: 116.5px;
    z-index: -1;
}

#mini-logo {
    height: 93px;
    margin: 18px;
}

#mini-open-daily {
    position: absolute;
    margin: 43px 0px 0px -278px;

    border-bottom: 2px solid #EAEAEA;
    padding-bottom: 4px;
    padding-left: 125px;

    color: #EAEAEA;
    font-size: 23pt;
    font-family: rossetti;
}

#mini-since-1966 {
    position: absolute;
    margin: 43px 0px 0px 159px;

    border-bottom: 2px solid #EAEAEA;
    padding-bottom: 4px;
    padding-right: 125px;

    color: #EAEAEA;
    font-size: 23pt;
    font-family: rossetti;
}

/* ---------------------- Menu Bar ---------------------- */

/* Sticker */
.bar-stickers {
    display: flex;
    flex-direction: row;
    align-items: center;

    position: relative;
    margin: 25px 45px 0px 0px;
    width: 1100px;
}

#bar-stick {
    margin: 0px 19.5px 0px 19.5px;
    height: 85px;
}

/* Text */
#bar-text {
    font-size: 30pt;
    font-family: rossetti;
    margin-top: -67px;
}

.menu-bar {
    position: absolute;
    margin-left: -485px;
}

.mail-bar {
    position: absolute;
    margin-left: -305px;
}

.catering-bar {
    position: absolute;
    margin-left: -50px;
}

.merch-bar {
    position: absolute;
    margin-left: 170px;
}

.cold-bar {
    position: absolute;
    margin-left: 355px;
}

/* ---------------------- About ---------------------- */

.about-square {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 90px 0px 130px 0px;
    height: 970px;
    width: 700px;

    background-color: #F6F5EC;
    z-index: 1;
    border-radius: 15px;
}

#top-phrase {
    margin: 31px;
    text-align: center;
    font-size: 25pt;
}

#food-home {
    width: 100%;
    border-radius: 15px;
    margin-left: 15%
}

#quote {
    text-align: center;
    margin: 4% 21% 5% 21%;
    font-size: 18pt;
}

#about {
    margin: -1% 27.5% 0% -6%;
    padding: 15px;

    font-size: 14pt;
    background-color: #DEDDD5;
    line-height: 1.3;
    border-radius: 15px;
}

/* Cupstack Sticker */
#cupstack-sticker {
    position: relative;
    margin: -54% 0% 0% 95%;
    height: 27%;
}

/* Sausage */
#sausage-sticker {
    position: relative;
    margin-top: -4%;
    height: 27%;
}

.sausage-text {
    position: relative;
    margin-top: -25%;
    font-size: 27pt;
    transform: rotate(-2deg);
    cursor:auto
}

/* ---------------------- Footer ---------------------- */

footer {
    display: flex;
    flex-direction: row;

    width: 100%;
    background-color: #EBC748;
    font-size: 10pt;
}

#footer-title {
    font-size: 20pt;
    font-family: Rossetti;
}

#line {
    border: solid 1px #404040;
    margin: 1%;
    width: 0px;
}

#map {
    width: 90%;
    height: 90%;
    margin: 4%
}

.city-footer {
    width: 25%;
    margin-top: 7px;
    padding-bottom: 1%;
}

.contact-footer {
    width: 25%;
    height: 200px;
    padding-bottom: 1%;
}

/* ---------------------- Table ---------------------- */

table {
    border-collapse: collapse;
    margin-left: -80px;
    width: 820px;
    font-size: 11pt;
}

#top-left-corner {
    border-top-left-radius: 13px;
}

#top-right-corner {
    border-top-right-radius: 13px;
}

#bottom-left-corner {
    border-bottom-left-radius: 13px;
}

#bottom-right-corner {
    border-bottom-right-radius: 13px;
}

td,
th {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #EBC748;
}

tr:nth-child(odd) {
    background-color: #efe1ae;
}

#main-row {
    color: #EAEAEA;
    border-radius: 13px 15px 0px 0px;
    background-color: #A85050;
}

.total {
    color: #EAEAEA;
    background-color: #A85050;
}

.xsmall {
    font-size: 10pt;
}

.xxsmall {
    font-size: 8pt;
}