body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #555;
    background-color: #2D2D2D;
}
#top-bar {
    text-align: center;
    color:black;
    margin:auto;
    width: 100%;
    position: fixed;
    background-color: #EBC748;
    padding: 10px;
}
#header {
    width: 100%;
}
.menu-list {
    text-decoration: underline;
    font-size: 27pt;
    position: absolute;
    line-height: 1.37;
    padding: 2px;
    margin: 84px 0px 0px 270px;
    transform: rotate(-7.3deg);
    z-index: 1;
}
.menu-list:hover {
    cursor: pointer;
}
#menu {
    font-size: 37pt;
}
#menu-back {
    position: absolute;
    margin: 20px 0px 0px 175px;
    height: 50%;
}
a {
    color:black;
}
.about-square {
    position: absolute;
    margin: 40px 25% 0px 25%;
    height: 600px;
    width: 50%;
    background-color: #F6F5EC;
    z-index: -1;
}
#about {
    position: absolute;
    margin: 6% 27.7% 0% 37%;
    padding: 12px 10px 12px 10px;

    font-size: 15pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #DEDDD5;
    line-height: 1.3;
}
#sausage {
    margin: 2% 25% 25%;
    font-size: 15pt;
    background-color: #F6F5EC;
    padding: 40px;
}

#back {
    font-size: 20pt;
    color: #F6F5EC;
    text-align: center;
    margin-left: 47.7%;
}
#link-white {
    color: #F6F5EC;
}
.footer {
    width: 100%;
    height: 10px;
    margin-bottom: -100px;
}