/* --------------- Menu --------------- */

.cold {
    margin-top: 90px;
    padding: 20px;

    font-size: 17px;
    width: 660px;
    background-color: #F6F5EC;
    border-radius: 15px;
}
#title {
    text-align: center;
    font-size: 30pt;
}
#desc-cold {
    text-align: center;
    font-size: 12pt;
}