/* --------------- Menu Bar --------------- */

.bar-stickers-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    position: relative;
    margin: 25px 45px 0px 0px;
    width: 1100px;
}

/* --------------- Menu --------------- */

.menu {
    text-align: center;
    margin-top: 90px;
    padding: 20px 0px 20px 0px;

    font-size: 17px;
    width: 700px;
    background-color: #F6F5EC;
    z-index: -1;
    border-radius: 15px;
}
#select-menu:hover {
    color: #8e751d;
    cursor: pointer;
}

#grill-sticker {
    position: absolute;
    margin: 8% 0% 0% 60%;
    height: 40%;
}

/* --------------- Display Hover --------------- */

.frankfurter-img,
.garlic_frankfurter-img,
.bockwurst-img,
.kielbasa-img,
.calabrese-img,
.hot-link-img,
.bratwurst-img,
.lemon-chicken-img,
.smoked-chicke-apple-img,
.mango-with-jalapeno-img,
.the-wienie-img {
    display: none;
    position: absolute;
    height: 15%;
}

#select:hover + .frankfurter-img,
#select:hover + .garlic_frankfurter-img,
#select:hover + .bockwurst-img,
#select:hover + .kielbasa-img,
#select:hover + .calabrese-img,
#select:hover + .hot-link-img,
#select:hover + .bratwurst-img,
#select:hover + .lemon-chicken-img,
#select:hover + .smoked-chicke-apple-img,
#select:hover + .mango-with-jalapeno-img,
#select:hover + .the-wienie-img {
    display: block;
}

/* ------------------------------ */

.frankfurter-img { margin: 90px 0% 0% -13% }

.garlic_frankfurter-img { margin: 32px 0% 0% -13% }

.bockwurst-img { margin: -26px 0% 0% -13% }

.kielbasa-img { margin: -84px 0% 0% -13% }

.calabrese-img { margin: -142px 0% 0% -13% }

.hot-link-img { margin: -200px 0% 0% -13% }

.bratwurst-img { margin: -258px 0% 0% -13% }

.lemon-chicken-img { margin: -316px 0% 0% -13% }

.smoked-chicke-apple-img { margin: -374px 0% 0% -13% }

.mango-with-jalapeno-img { margin: -432px 0% 0% -13% }

.the-wienie-img { margin: -490px 0% 0% -13% }