#sausage-paragraph {
    margin: 86.5px 0px 0px 0px;
    padding: 30px;

    font-size: 23px;
    width: 640px;
    background-color: #F6F5EC;
    border-radius: 15px;
}
#title {
    font-family: rossetti;
    font-size: 30pt;
    margin-bottom: 1%;
}