/* --------------- Menu --------------- */

.menu {
    text-align: center;
    margin-top: 30px;
    padding: 20px 0px 20px 0px;

    font-size: 17px;
    width: 700px;
    background-color: #F6F5EC;
    border-radius: 15px;
}
#select-menu:hover {
    color: #8e751d;
    cursor: pointer;
}

#grill-sticker {
    position: absolute;
    margin: 300px -650px 0px 0px;
    height: 300px;
}

/* --------------- Display Hover --------------- */

.frankfurter-img,
.garlic_frankfurter-img,
.bockwurst-img,
.kielbasa-img,
.calabrese-img,
.hot-link-img,
.bratwurst-img,
.lemon-chicken-img,
.smoked-chicke-apple-img,
.mango-with-jalapeno-img,
.the-wienie-img {
    display: none;
    position: absolute;
    height: 200px;
}

#select:hover + .frankfurter-img,
#select:hover + .garlic_frankfurter-img,
#select:hover + .bockwurst-img,
#select:hover + .kielbasa-img,
#select:hover + .calabrese-img,
#select:hover + .hot-link-img,
#select:hover + .bratwurst-img,
#select:hover + .lemon-chicken-img,
#select:hover + .smoked-chicke-apple-img,
#select:hover + .mango-with-jalapeno-img,
#select:hover + .the-wienie-img {
    display: block;
}

/* ------------------------------ */

.frankfurter-img { margin: 90px 0% 0% -200px }

.garlic_frankfurter-img { margin: 33px 0% 0% -200px }

.bockwurst-img { margin: -24px 0% 0% -200px }

.kielbasa-img { margin: -81px 0% 0% -200px }

.calabrese-img { margin: -138px 0% 0% -200px }

.hot-link-img { margin: -195px 0% 0% -200px }

.bratwurst-img { margin: -252px 0% 0% -200px }

.lemon-chicken-img { margin: -309px 0% 0% -200px }

.smoked-chicke-apple-img { margin: -366px 0% 0% -200px }

.mango-with-jalapeno-img { margin: -423px 0% 0% -200px }

.the-wienie-img { margin: -480px 0% 0% -200px }