.bar-stickers-sau {
    position: relative;
    margin: 25px -900px 0px 0px;
    width: 1100px;
}
.back-bar {
    position: absolute;
    margin-left: -50px;
    margin-top: -3px
}

#sausage-paragraph {
    margin: 86.5px 0px 0px 0px;
    padding: 30px;

    font-size: 23px;
    width: 640px;
    background-color: #F6F5EC;
    z-index: -1;
    border-radius: 15px;
}
#title {
    font-family: rossetti;
    font-size: 30pt;
    margin-bottom: 1%;
}
footer {
    margin-top: 90px;
}