@import url(//db.onlinewebfonts.com/c/96996b95c19ecf8733387b6c0b2311e3?family=Rossetti);

@font-face {
    font-family: "Rossetti";
    src: url("//db.onlinewebfonts.com/t/96996b95c19ecf8733387b6c0b2311e3.eot");
    src: url("//db.onlinewebfonts.com/t/96996b95c19ecf8733387b6c0b2311e3.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/96996b95c19ecf8733387b6c0b2311e3.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/96996b95c19ecf8733387b6c0b2311e3.woff") format("woff"), url("//db.onlinewebfonts.com/t/96996b95c19ecf8733387b6c0b2311e3.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/96996b95c19ecf8733387b6c0b2311e3.svg#Rossetti") format("svg");
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #404040;
    background-color: #2D2D2D;
}

a {
    color: #404040;
}

a:hover {
    color: #8e751d;
}

#rossetti {
    font-family: Rossetti;
}

#title {
    font-family: rossetti;
    font-size: 30pt;
    text-align: center;
}

#normal {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html {
    scroll-behavior: smooth;
}

/* ---------------------- Top ---------------------- */

#top-bar {
    text-align: center;
    color: #363636;
    width: 100%;
    position: fixed;
    background-color: #EBC748;
    padding: 10px 0 10px 0;
    z-index: 4;
}

#banner {
    position: relative;
    margin-top: -180px;
    height: 169px;
    width: 100%;
    object-fit: none;
    z-index: -1;
}

header {
    display: flex;
    flex-direction: row;
}

#logo {
    height: 140px;
    margin: 20px;
}

@media (max-width: 700px) {
    #open-daily {
        display: none;
    }
    #since-1966 {
        display: none;
    }
}

#open-daily {
    position: absolute;
    margin: 77px 0 0 -420px;

    text-align: right;
    line-height: 0.5;

    color: #EAEAEA;
    font-size: 34.5pt;
    font-family: rossetti;
}
#since-1966 {
    position: absolute;
    margin: 77px 0 0 238px;

    text-align: left;
    line-height: 0.5;

    color: #EAEAEA;
    font-size: 34.5pt;
    font-family: rossetti;
}
hr {
    width: 380px;
    height: 2.5px;
    border-width: 0;
    background-color: #EAEAEA;
}

/* ---------------------- Mini Top ---------------------- */

#mini-banner {
    position: relative;
    margin-top: -129px;
    height: 116.5px;
    width: 100%;
    z-index: -1;
    object-fit: none;
}

#mini-logo {
    height: 93px;
    margin: 18px;
}

#mini-open-daily {
    position: absolute;
    margin: 43px 0 0 -278px;

    border-bottom: 2px solid #EAEAEA;
    padding-bottom: 4px;
    padding-left: 125px;

    color: #EAEAEA;
    font-size: 23pt;
    font-family: rossetti;
}

#mini-since-1966 {
    position: absolute;
    margin: 43px 0 0 159px;

    border-bottom: 2px solid #EAEAEA;
    padding-bottom: 4px;
    padding-right: 125px;

    color: #EAEAEA;
    font-size: 23pt;
    font-family: rossetti;
}

/* ---------------------- Menu Bar ---------------------- */

@media (max-width: 560px) {
    #bar-stick {
        margin: 0 10px 0 10px;
    }
}
@media (min-width: 560px) {
    #bar-stick {
        margin: 0 19.5px 0 19.5px;
    }
}

#bar {
    display: flex;
    flex-direction: row;
    justify-content: center;

    justify-content: center;
    font-size: 30pt;
    font-family: rossetti;
    margin-right: 70px;
    flex-wrap: wrap;
    width: 100%;
}

/* Sticker */
.bar-stickers {
    display: flex;
    flex-direction: row;
    justify-content: center;

    position: relative;
    margin-top: 25px;
    width: 100%;
    flex-wrap: wrap;
}

#bar-stick {
    height: 85px;
    position: relative;
    flex-wrap: wrap;
    margin: 25px 60px 0 60px ;
}

/* Text */

.menu-bar {
    position: relative;
    margin-top: 42px;
    margin-left: -175px;
}

.mail-bar {
    position: relative;
    margin-top: 42px;
    margin-left: -255px;
}

.catering-bar {
    position: relative;
    margin-top: 42px;
    margin-left: -220px;
}

.merch-bar {
    position: relative;
    margin-top: 42px;
    margin-left: -185px;
}

.cold-bar {
    position: relative;
    margin-top: 42px;
    margin-left: -257px;
}

/* ---------------------- About ---------------------- */

.about-square {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 30px 0 50px 0;
    height: 970px;
    width: 700px;

    background-color: #F6F5EC;
    z-index: 1;
    border-radius: 15px;
}

#top-phrase {
    margin: 31px;
    text-align: center;
    font-size: 25pt;
}

#food-home {
    width: 100%;
    border-radius: 15px;
    margin-left: 100px
}

#quote {
    text-align: center;
    margin: 23px 21% 23px 21%;
    font-size: 18pt;
}

#about {
    margin: 0 200px 0 -40px;
    padding: 15px;

    font-size: 14pt;
    background-color: #DEDDD5;
    line-height: 1.3;
    border-radius: 15px;
}

/* Cupstack Sticker */
#cupstack-sticker {
    position: relative;
    margin: -360px 0 0 650px;
    height: 270px;
    z-index: 1;
}

/* Sausage */
#sausage-sticker {
    position: relative;
    height: 250px;
    z-index: 1;
    margin-top: -60px;
}

.sausage-text {
    position: relative;
    margin: -170px 0 30px 0;
    font-size: 27pt;
    transform: rotate(-2deg);
    cursor:auto;
    z-index: 2;
}

/* ---------------------- Footer ---------------------- */

footer {
    display: flex;
    flex-direction: row;

    width: 100%;
    background-color: #EBC748;
    font-size: 10pt;
    margin-top: 30px;
    z-index: 3;
}

#footer-title {
    font-size: 20pt;
    font-family: Rossetti;
}

#line {
    border: solid 1px #404040;
    margin: 13px 20px 13px 20px;
    width: 0;
}

#map {
    width: 90%;
    height: 90%;
    margin: 4%
}

.city-footer {
    width: 25%;
    margin-top: 7px;
    padding-bottom: 1%;
}

.contact-footer {
    width: 25%;
    height: 200px;
    padding-bottom: 1%;
}

#legal {
    margin-top: 220px;
    width: 5%;
    font-size: 7pt;
    
}

/* ---------------------- Back ---------------------- */

.bar-stickers-sau {
    position: relative;
    margin-top: 7px;
}
.back-bar {
    position: relative;
    margin: -70px 0 13px 0;

    font-size: 30pt;
    font-family: rossetti;
}

/* ---------------------- Table ---------------------- */

table {
    border-collapse: collapse;
    margin-left: -80px;
    width: 820px;
    font-size: 11pt;
}

#top-left-corner {
    border-top-left-radius: 13px;
}

#top-right-corner {
    border-top-right-radius: 13px;
}

#bottom-left-corner {
    border-bottom-left-radius: 13px;
}

#bottom-right-corner {
    border-bottom-right-radius: 13px;
}

td,
th {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #EBC748;
}

tr:nth-child(odd) {
    background-color: #efe1ae;
}

#main-row {
    color: #EAEAEA;
    border-radius: 13px 15px 0 0;
    background-color: #A85050;
}

.total {
    color: #EAEAEA;
    background-color: #A85050;
}

.xsmall {
    font-size: 10pt;
}

.xxsmall {
    font-size: 8pt;
}